<div class="container my-3">
    <div class="row">
        <div class="col">
            <b>New Hon</b>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="container my-3">
                <div class="row">
                    <div class="col text-center">
                        Hons는 GhostWebService의 활용 예제로 만들어진 SNS입니다.<br>
                        '<b id="txLink"></b>'<br>GhostWebService의 gLambda에서 실행됩니다.
                        <br><br>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center">
                            <div class="form-group mb-3">
                                <label for="inputcontent">Content</label><br>
                                <textarea type="text" class="form-control-lg" rows="3" id="inputContent" aria-describedby="contentHelp">Enter text</textarea>
                                <small id="contentHelp" class="form-text text-muted">max 150.</small>
                            </div>
                            <button type="submit" id="feedBtn" class="btn btn-primary">Submit</button>
                            <p id="information"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
