<div class="container my-3">
    <div class="row">
        <div class="col">
            <b>Welcome hons</b>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="container my-3">
                <div class="row">
                    <div class="col text-center">
                        Hons는 GhostWebService의 활용 예제로 만들어진 SNS입니다.<br>
                        '<b id="txLink"></b>'<br>GhostWebService의 gLambda에서 실행됩니다.
                        <br><br>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3"></div>
                    <div class="col text-center">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon3">Email</span></div>  
                                <input type="email" class="form-control" id="inputEmail" aria-describedby="basic-addon3" placeholder="Enter email">
                            </div>
                                <small id="emailHelp" class="form-text text-muted">We'll naver share your email with anyone else.</small>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon3">Password</span></div>  
                                <input type="password" class="form-control" id="inputPassword" aria-describedby="basic-addon3" placeholder="Password">
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon3">Hon's Name</span></div>  
                                <input type="text" class="form-control" id="inputId" aria-describedby="idHelp" placeholder="Enter hon's Id">
                            </div>
                                <small id="idHelp" class="form-text text-muted">SNS Id.</small>
                            <button type="submit" id="signupBtn" class="btn btn-primary">Submit</button>
                            <p id="information"></p>
                    </div>
                    <div class="col-3"></div>
                </div>
            </div>
        </div>
    </div>
</div>
