<div class="container my-3">
    <div class="row">
        <div class="col">
            <b>Upload Prompt</b>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <br>
            sd는 GhostWebService의 활용 예제로 만들어진 SNS입니다.<br>
            '<b id="txLink"></b>'<br>GhostWebService의 gLambda에서 실행됩니다.
            <br><br>
            <div class="form-group">
                <input type="file" clas="form-control form-control-sm" id="inputFile" aria-describedby="emailHelp"
                    placeholder="">
            </div>
            <button type="submit" id="uploadBtn" class="btn btn-primary">Upload</button>
            <p id="information"></p>
        </div>
    </div>
</div>